<div style="margin: 10px">
    <div>
        <h1>Aktuelles Wetter am Startplatz Dohlenbacher</h1>
    </div>
    <div>
        <div>
            <h3>Windgeschwindigkeit</h3>
            <img src="https://fly2cloud.de/ws/wsDohli/diagrams/wind120Day.png">
        </div>
        <div>
            <h3>Windrichtung</h3>
            <img src="https://fly2cloud.de/ws/wsDohli/diagrams/richtungDay.png">
        </div>
        <div>
            <h3>Temperatur</h3>
            <img src="https://fly2cloud.de/ws/wsDohli/diagrams/temperaturDay.png">
        </div>
        <div>
            <h3>Luftdruck</h3>
            <img src="https://fly2cloud.de/ws/wsDohli/diagrams/druckDay.png">
        </div>
        <div>
            <h3>Luftfeuchtigkeit und Batterieladezustand</h3>
            <img src="https://fly2cloud.de/ws/wsDohli/diagrams/feuchteDay.png">
        </div>
    </div>
</div>