<div style="margin: 10px">
    @if (flyValue !== null) {
        <div> Heutiger Fly-Wert: {{ flyValue!.fly * 100 | number:'1.1-1' }} % </div>
        <div> Heutiger XC-Wert: {{ flyValue!.XC * 100 | number:'1.1-1' }} % </div>
    }
    @else {
        <div>
        Keine Paragliable Werte für Spitzfelsen gefunden.
      </div>
    }
      
    <div>
        <h1>Aktuelles Wetter am Startplatz Spitzfelsen</h1>
    </div>
    <div>
        <div>
            <h3>Windgeschwindigkeit</h3>
            <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/wind120Day.png">
        </div>
        <div>
            <h3>Windrichtung</h3>
            <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/richtungDay.png">
        </div>
        <div>
            <h3>Temperatur</h3>
            <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/temperaturDay.png">
        </div>
        <div>
            <h3>Luftdruck</h3>
            <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/druckDay.png">
        </div>
        <div>
            <h3>Luftfeuchtigkeit und Batterieladezustand</h3>
            <img src="https://fly2cloud.de/ws/wsSpitz/diagrams/feuchteDay.png">
        </div>
    </div>
</div>
<div style="margin: 15px;">
<iframe src="https://www.meteoblue.com/de/wetter/maps/widget/hausach_deutschland_2908974?windAnimation=1&gust=1&satellite=1&cloudsAndPrecipitation=1&temperature=1&sunshine=1&extremeForecastIndex=1&geoloc=fixed&tempunit=C&windunit=km%252Fh&lengthunit=metric&zoom=10&autowidth=auto"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 100%; height: 720px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/de/wetter/maps/hausach_deutschland_2908974?utm_source=map_widget&utm_medium=linkus&utm_content=map&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div></div>