<div style="margin: 10px">
    <div>
        <h1>Aktuelles Wetter am Startplatz Gschasi</h1>
    </div>
    <div>
        <div>
            <img src="https://www.elztalflieger.de/webcam/aktuell_sp.jpg">
        </div>
        <div>
            <h3>Windgeschwindigkeit</h3>
            <img src="https://elztalflieger.de/webcam/ws/wsGschasi/mobile/daywind.png">
        </div>
        <div>
            <h3>Windrichtung</h3>
            <img src="https://elztalflieger.de/webcam/ws/wsGschasi/mobile/daywinddir.png">
        </div>
        <div>
            <h3>Luftdruck</h3>
            <img src="https://elztalflieger.de/webcam/ws/wsGschasi/mobile/daybarometer.png">
        </div>
    </div>
</div>